.detail-container{
    height: 150px;
    display: flex;

    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 5px;
    border-right-style: solid;
    border-right-width: 5px;
    
}

.titre{
    
    border-style: solid ;
    border-width: 10px;
}

.poster{
    border-style: solid ;
    border-width: 10px;
    
}



.main{
    padding: 75px;
    display: flex;
}
.detail-container h1{
    margin-left: 5px;
}
.detail-container div{
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;

}
.detail-container h6{
    margin-left: 5px;
}
.detail-infos{
    min-width: 70%;
    max-width: 900px;
}
.genre, .releasedYear, .producers{
    max-height: 100%;
    
}
.titre h1{
    font-size: 50px;
    color: white;
}
/* .detail-container producers{
    max-height: 100%;
} */
/* .detail-container h1{
    display: flex;
} */